.companies {
    padding: 0 0 5rem 0;
}

.companies-logo {
    max-width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

.companies-logo img {
    height: 100%;
}

.companies-logo img:hover {
    filter: grayscale(120);
    transition: ease-in-out 0.3s;
}